<div>
  <mat-button-toggle-group (change)="getMovies()" [(ngModel)]="selectedValue" >
    <mat-button-toggle value="discover" >Discover</mat-button-toggle>
    <mat-button-toggle value="popular">Popular</mat-button-toggle>
    <mat-button-toggle value="topRated">Top Rated</mat-button-toggle>
    <mat-button-toggle value="upcoming">Upcoming</mat-button-toggle>
    <mat-button-toggle value="nowPlaying">Now Playing</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div *ngFor="let movie of (movies | async)?.results">
  <p>{{movie.title}}</p>
  <p>{{movie.release_date}}</p>
  <p>{{movie.overview}}</p>
</div>
