<div class="page">
  <div *ngIf="(movie|async) && (credits|async) && !error">
    <div mat-line class="backdrop">
      <img src="https://image.tmdb.org/t/p/w780/{{ (movie | async)?.backdrop_path }}" alt="Backdrop">
    </div>
    <div class="properties">
      <div class="poster">
        <h1 mat-line>{{ (movie | async)?.title }}</h1>
        <img src="https://image.tmdb.org/t/p/w500/{{ (movie | async)?.poster_path }}" alt="Poster">
      </div>
      <div class="movie-details">
        <p mat-line><a style="font-weight: bold">Rating: </a>{{ (movie | async)?.vote_average }}</p>
        <p mat-line>{{ genres }} movie, {{(movie | async)?.runtime}} minutes</p>
        <p mat-line><a style="font-weight: bold">Languages:</a> {{ languages }}</p>
        <p mat-line><a style="font-weight: bold">Release date:</a> {{ (movie | async)?.release_date }}</p>
        {{ (movie | async)?.overview }}
        <mat-nav-list>
          <div *ngFor=" let castMember of (credits | async)?.cast">
            <p mat-line *ngIf="castMember.order<=20" class="cast">
              <a routerLink="/people/{{castMember.id}}" style="font-weight: bold">{{ castMember.name }}</a>
              as {{ castMember.character }}
            </p>
          </div>
        </mat-nav-list>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="middle">
    <h1 mat-line>Something bad happened, sorry :(</h1>
  </div>
  <div class="middle">
    <mat-spinner *ngIf="!(movie | async) && !(credits | async) && !error"></mat-spinner>
  </div>
</div>
