.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-card {
  margin: 10px;
  max-width: 250px;
  width: 100%;
  max-height: 450px;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

mat-card-header {
  display: flex;
  align-items: center;
  height: 50px;
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  --mat-card-title-text-line-height: 1.2;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-button-toggle-group {
  margin: 10px;
  align-content: center;
  width: fit-content;
  align-self: center;
}
