<div class="page">
  <div class="button-group">
    <mat-button-toggle-group (change)="getMovies(true)" [(ngModel)]="selectedValue">
      <mat-button-toggle value="trending">Trending</mat-button-toggle>
      <mat-button-toggle value="discover">Discover</mat-button-toggle>
      <mat-button-toggle value="popular">Popular</mat-button-toggle>
      <mat-button-toggle value="topRated">Top Rated</mat-button-toggle>
      <mat-button-toggle value="upcoming">Upcoming</mat-button-toggle>
      <mat-button-toggle value="nowPlaying">Now Playing</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="center-row" *ngIf="(movies | async)">
    <button mat-icon-button aria-label="Back" color="primary" [disabled]="currentPage <= 1 "
            (click)="currentPage=currentPage-1;getMovies(false)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    {{currentPage}}/{{maxPages}}
    <button mat-icon-button aria-label="Forward" color="primary" [disabled]="currentPage >= maxPages"
            (click)="currentPage=currentPage+1;getMovies(false)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

    <div class="card-grid">
      <mat-card *ngFor="let movie of (movies | async)?.results">
        <a routerLink="/movies/{{movie.id}}">
          <mat-card-header class="center-row">
            <mat-card-title>{{movie.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-image src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" alt="Movie Poster">
          </mat-card-content>
          <mat-card-footer>
            <mat-card-subtitle>{{movie.vote_average}}</mat-card-subtitle>
          </mat-card-footer>
        </a>
      </mat-card>
    </div>

  <div class="center-row" *ngIf="(movies | async)">
    <button mat-icon-button aria-label="Back" color="primary" [disabled]="currentPage <= 1 "
            (click)="currentPage=currentPage-1;getMovies(false)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    {{currentPage}}/{{maxPages}}
    <button mat-icon-button aria-label="Forward" color="primary" [disabled]="currentPage >= maxPages"
            (click)="currentPage=currentPage+1;getMovies(false)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
