<div class="page">
  <div *ngIf="series">
    <div class="backdrop">
      <img src="https://image.tmdb.org/t/p/w780/{{ (series | async)?.backdrop_path }}" alt="Backdrop">
    </div>
    <div class="properties">
      <div class="poster">
        <h1>{{ (series | async)?.name }}</h1>
        <img src="https://image.tmdb.org/t/p/w500/{{ (series | async)?.poster_path }}" alt="Poster">
      </div>
      <div class="series-details">
        <p><a style="font-weight: bold">Rating: </a>{{ (series | async)?.vote_average }}</p>
        <p>{{ genres }} series</p>
        <p>{{(series | async)?.number_of_seasons}} season(s), {{(series | async)?.number_of_episodes}} episodes</p>
        <p>{{(series | async)?.episode_run_time}} minutes/episode</p>
        <p><a style="font-weight: bold">Status:</a> {{ (series | async)?.status }}</p>
        <p><a style="font-weight: bold">Languages:</a> {{ languages }}</p>
        <p><a style="font-weight: bold">Release date:</a> {{ (series | async)?.first_air_date }}</p>
        {{ (series | async)?.overview }}
        <p style="font-weight: bold">Seasons:</p>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let season of seasons">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ (season | async)?.season_number }} <span
                *ngIf=" !(season | async)?.name?.startsWith('Season')"> - {{ (season | async)?.name }}</span>
              </mat-panel-title>
              <mat-panel-description>
                {{ (season | async)?.episodes?.length }} episodes
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngIf="(season | async)?.episodes">
              <mat-list>
                <mat-list-item *ngFor="let episode of (season | async)?.episodes">
                  <span style="font-weight: bold">{{ episode.name }}</span> - {{ episode.air_date }}
                </mat-list-item>
              </mat-list>
            </div>

            <div *ngIf="!(season | async)?.episodes" class="no-episodes">
              No episodes available for this season.
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
  </div>
</div>
