<div class="page">
  <div *ngIf="(series |async) && !error">
    <div mat-line class="backdrop">
      <img src="https://image.tmdb.org/t/p/w780/{{ (series | async)?.backdrop_path }}" alt="Backdrop">
    </div>
    <div class="properties">
      <div class="poster">
        <h1 mat-line>{{ (series | async)?.name }}</h1>
        <img src="https://image.tmdb.org/t/p/w500/{{ (series | async)?.poster_path }}" alt="Poster">
      </div>
      <div class="series-details">
        <p mat-line><a style="font-weight: bold">Rating: </a>{{ (series | async)?.vote_average }}</p>
        <p mat-line>{{ genres }} series</p>
        <p mat-line>{{(series | async)?.number_of_seasons}} season(s), {{(series | async)?.number_of_episodes}}
          episodes</p>
        <p mat-line>{{(series | async)?.episode_run_time}} minutes/episode</p>
        <p mat-line><a style="font-weight: bold">Status:</a> {{ (series | async)?.status }}</p>
        <p mat-line><a style="font-weight: bold">Languages:</a> {{ languages }}</p>
        <p mat-line><a style="font-weight: bold">Release date:</a> {{ (series | async)?.first_air_date }}</p>
        {{ (series | async)?.overview }}
        <p style="font-weight: bold">Seasons:</p>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let season of seasons">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ (season | async)?.season_number }} <span
                *ngIf=" !(season | async)?.name?.startsWith('Season')"> - {{ (season | async)?.name }}</span>
              </mat-panel-title>
              <mat-panel-description>
                {{ (season | async)?.episodes?.length }} episodes
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div *ngIf="(season | async)?.episodes">
              <mat-list>
                <mat-list-item *ngFor="let episode of (season | async)?.episodes; last as last">
                  <span style="font-weight: bold">{{ episode.name }}</span> - {{ episode.air_date }}
                  <p>
                    <mat-divider *ngIf="!last"></mat-divider>
                  </p>
                </mat-list-item>
              </mat-list>
            </div>

            <div *ngIf="!(season | async)?.episodes" class="no-episodes">
              No episodes available for this season.
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>
  </div>
  <div *ngIf="error" class="middle">
    <h1 mat-line>Something bad happened, sorry :(</h1>
  </div>
  <div class="middle">
    <mat-spinner *ngIf="!(series | async) && !error"></mat-spinner>
  </div>
</div>
